@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin: 0;
        @apply bg-PrimaryBg; /* Use the custom background color */
        @apply text-PrimaryBase; /* Use the custom text color */
    }
}

.header {
    position: relative;
    z-index: 10;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 20; /* ใช้ z-index ที่สูงกว่า */
}

/* สำหรับหน้าจอที่มีความกว้างสูงสุด 1440px และสูงสุด 900px */
@media (max-width: 1440px) and (max-height: 900px) {
    .navbar {
        padding-top: 8px;  /* ปรับลด padding-top */
        padding-bottom: 8px;  /* ปรับลด padding-bottom */
    }
}

@media (min-width: 1441px) {
    .navbar {
        padding-top: 16px;  /* เพิ่ม padding-top เมื่อหน้าจอใหญ่ขึ้น */
        padding-bottom: 16px; /* เพิ่ม padding-bottom เมื่อหน้าจอใหญ่ขึ้น */
    }
}
